@charset "UTF-8";
/*폰트 링크*/
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
/*리셋*/
* {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

ol, ul, li {
  list-style: none;
}

button {
  cursor: pointer;
}

em {
  font-style: inherit;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/*드래그 방지*/
body {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

/*기본 폰트 스타일, 컬러*/
body {
  font-family: 'Inter', 'sans-serif';
  color: #000;
  overflow-x: hidden;
  overflow-y: scroll;
}

img {
  width: 100%;
}

button {
  font-family: 'Inter', 'sans-serif';
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.space {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.just-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fff {
  color: #fff;
}

.slide-txt-wrap {
  overflow: unset;
}

.container {
  margin: 0 auto;
  max-width: 1120px;
}

title {
  font-size: 48px;
  display: block;
}

button.contact {
  width: 287px;
  height: 68px;
  padding-left: 22px;
  font-size: 20px;
  background-color: #6561AA;
  color: #fff;
  border-radius: 12px;
}

button.contact img {
  width: 24px;
}

button.contact .line-box {
  width: 1px;
  height: 68px;
  background-color: #fff;
  margin-left: 22px;
}

button.contact .send {
  width: 100%;
}

button.contact a {
  color: #fff;
  width: 100%;
}

/*nav*/
.gnb-wrap {
  padding-top: 36px;
}

.gnb-wrap .logo img {
  width: 124px;
}

.gnb-wrap .menu-list li {
  margin-left: 40px;
}

.gnb-wrap .menu-list li:first-child {
  margin-left: 0;
}

.gnb-wrap .menu {
  font-size: 20px;
  cursor: pointer;
}

.gnb-wrap .menu img {
  margin-left: 8px;
}

/*section*/
.sec1 {
  background-image: url(/img/sec1-bk.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: 28%;
  padding-top: 320px;
  text-align: center;
}

.sec1 .title {
  font-size: 80px;
  padding-bottom: 24px;
  font-weight: 400;
}

.sec1 .sub-title {
  font-size: 24px;
  padding-bottom: 68px;
  max-width: 930px;
  word-break: keep-all;
}

.sec1 .arrow {
  width: 64px;
  margin-top: 216px;
}

.sec2 {
  padding-top: 304px;
  padding-bottom: 256px;
  overflow: hidden;
}

.sec2 .container {
  position: relative;
}

.sec2 title {
  padding-bottom: 34px;
}

.sec2 .card-wrap {
  padding-top: 20px;
}

.sec2 .card-wrap .card {
  width: calc(100% / 3 - 20px);
  padding: 40px;
  border-radius: 12px;
  color: #fff;
  background-color: #6561AA;
}

.sec2 .card-wrap .card img {
  width: 48px;
}

.sec2 .card-wrap .card p {
  font-size: 20px;
  padding: 18px 0 16px 0;
  font-weight: 400;
}

.sec2 .card-wrap .card span {
  font-size: 18px;
  word-break: keep-all;
  font-weight: 300;
}

.sec2 .back-ground {
  position: absolute;
  z-index: -1;
  display: inline-block;
}

.sec2 .back01 {
  width: 688px;
  top: -48%;
  left: -28%;
}

.sec2 .back02 {
  width: 700px;
  bottom: -52%;
  right: -28%;
}

.sec3 {
  padding-bottom: 110px;
}

.sec3 .sub-title {
  font-size: 20px;
  padding-top: 68px;
  padding-bottom: 96px;
  max-width: 920px;
  line-height: 32px;
  margin: 0 auto;
  word-break: keep-all;
}

.sec3 .img-box {
  width: 100%;
  height: 1080px;
  background-image: url(/img/vision-bk.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sec4 {
  margin-bottom: 300px;
}

.sec4 .road-top {
  padding: 63px 0 42px 0;
}

.sec4 .map-card-wrap .map-card {
  width: 260px;
  word-break: keep-all;
}

.sec4 .map-card-wrap .map-card p {
  font-size: 24px;
  padding-bottom: 36px;
}

.sec4 .map-card-wrap .map-card li {
  font-size: 18px;
  position: relative;
  padding-left: 12px;
}

.sec4 .map-card-wrap .map-card li::before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  position: absolute;
  background-color: #000;
  border-radius: 50px;
  top: 10px;
  left: 1px;
}

.sec4 .map-top {
  padding: 110px 0 46px 0;
}

.sec4 .map-bt {
  padding-top: 46px;
}

.sec4 .map-bt .map-card:first-child {
  margin-right: 168px;
}

.sec5 {
  padding: 260px 0 304px 0;
}

.sec5 .joinus {
  width: 100%;
  padding: 80px 0 60px 0;
  color: #fff;
  background-image: url(/img/sec5-bk.png);
  background-size: cover;
  border-radius: 12px;
  text-align: center;
}

.sec5 .joinus title {
  max-width: 606px;
}

.sec5 .joinus span {
  padding: 40px 0 60px 0;
  font-size: 24px;
}

.sec5 .joinus button.contact {
  border: 1px inset #fff;
}

/*contact-us*/
.contact-input-wrap {
  margin: 0 auto;
  max-width: 550px;
  padding-top: 140px;
  padding-bottom: 304px;
}

.contact-input-wrap input, .contact-input-wrap textarea {
  font-family: 'Inter', 'sans-serif';
  width: 100%;
  padding: 24px 16px;
  border: 1px solid #6561AA;
  border-radius: 12px;
  font-size: 20px;
  margin-bottom: 20px;
}

.contact-input-wrap input:focus, .contact-input-wrap textarea:focus {
  outline: 2px solid #6561AA;
}

.contact-input-wrap textarea {
  max-height: 200px;
  resize: none;
  margin-bottom: 15px;
}

.contact-input-wrap .check {
  width: 100%;
}

.contact-input-wrap .check input[type='checkbox'] {
  display: none;
}

.contact-input-wrap .check input[id="ck"] + label {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 3px solid #000;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
}

.contact-input-wrap .check input[id="ck"]:checked + label::after {
  content: '✔';
  font-size: 22px;
  width: 24px;
  height: 24px;
  text-align: center;
  position: absolute;
  top: -6px;
  left: -4px;
}

.contact-input-wrap .check span {
  padding-left: 16px;
  font-size: 16px;
  color: rgba(37, 37, 37, 0.6);
}

.contact-input-wrap button {
  width: 100%;
  margin-top: 46px;
}

/*footer*/
footer {
  padding-bottom: 98px;
}

footer .logo {
  display: block;
}

footer .top {
  padding-bottom: 54px;
}

footer .mid {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

footer .bottom {
  padding-top: 40px;
}

footer .bottom > p {
  padding-bottom: 28px;
}

footer .bottom p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

/*반응형*/
@media (max-width: 768px) {
  title {
    font-size: 38px;
  }
  .container {
    max-width: unset;
    padding: 0 20px;
  }
  .gnb-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 36px;
  }
  .gnb-wrap .menu-list {
    padding: 20px 0;
  }
  .gnb-wrap .menu-list .menu {
    font-size: 18px;
    margin-left: 20px;
  }
  .gnb-wrap a {
    font-size: 18px;
  }
  .gnb-wrap .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gnb-wrap .bottom .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sec1 {
    background-position-y: -62px;
    padding-top: 96px;
  }
  .sec1 .title {
    font-size: 40px;
  }
  .sec1 .arrow {
    margin-top: 120px;
  }
  .sec2 {
    padding-top: 100px;
    padding-bottom: 200px;
  }
  .sec2 .card-wrap {
    display: block;
    padding: unset;
  }
  .sec2 .card-wrap .card {
    width: 100%;
    margin-bottom: 20px;
  }
  .sec2 .back01 {
    top: -8%;
    left: -16%;
    width: 320px;
  }
  .sec2 .back02 {
    bottom: -18%;
    right: -75%;
  }
  .sec2 title {
    padding-bottom: 40px;
  }
  .sec3 .img-box {
    height: 430px;
  }
  .sec3 .sub-title {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .sec4 {
    margin-bottom: 80px;
  }
  .sec4 .map-card-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .sec4 .map-card-wrap .map-card {
    width: 100%;
    margin-top: 40px;
  }
  .sec4 img {
    display: none;
  }
  .sec5 {
    margin: 80px 0;
  }
  .sec5 .joinus {
    padding: 60px 20px 40px 20px;
  }
  .sec5 .joinus title {
    font-size: 32px;
  }
  .sec5 .joinus span {
    font-size: 22px;
    padding: 20px 0 30px 0;
  }
  footer .top {
    padding-bottom: 0;
  }
  footer .mid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .bottom {
    margin-bottom: 20px;
  }
  footer .bottom > p {
    padding-bottom: 12px;
  }
  footer .bottom p {
    word-break: break-all;
  }
  footer .bottom .flex p {
    padding-bottom: 8px;
  }
  .contact-input-wrap {
    max-width: unset;
    padding: 40px 20px;
  }
  .contact-input-wrap .check input[id="ck"]:checked + label::after {
    top: -7px;
  }
}

.gnb-wrap .menu-list .menu:hover a {
  color: #6561AA;
}

.gnb-wrap .menu-list .menu {
  position: relative;
  font-weight: 600;
}

.gnb-wrap .menu-list .menu::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  width: 100%;
  height: 30px;
}

.gnb-wrap .menu-list .menu:hover .sub-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gnb-wrap .menu-list .sub-menu-list {
  position: absolute;
  width: 200px;
  left: 50%;
  top: 40px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #6561AA;
  color: #fff;
  border-radius: 10px;
  padding: 10px 0;
  display: none;
}

.gnb-wrap .menu-list .sub-menu {
  display: inline-block;
  font-size: 15px;
  line-height: 40px;
  margin-left: 0;
  text-align: center;
  padding: 0 25px;
  font-weight: normal;
}

.gnb-wrap .menu-list .sub-menu a {
  color: rgba(255, 255, 255, 0.6) !important;
  z-index: 1;
}

.gnb-wrap .menu-list .sub-menu a:hover {
  color: #fff !important;
}

.sub-sec1 {
  padding-top: 320px;
  text-align: center;
}

.sub-sec1 .sub-tit {
  font-size: 54px;
}

.sub-sec1 .sub-tit-con {
  font-size: 36px;
  color: #706F6F;
  padding-top: 50px;
}

.more-btn {
  padding-top: 50px;
}

.more-btn button {
  background-color: #6561AA;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 8px;
  color: #fff;
}

.sub-sec1-img {
  padding-top: 100px;
  max-width: 1920px;
  margin: 0 auto;
}

.sub-sec1-img img {
  width: 100%;
}

.sub-sec2 {
  text-align: center;
}

.sub-sec2 .sub-sec2-tit {
  font-size: 40px;
  margin-top: 40px;
}

.sub-sec2 .sub-sec2-con {
  font-size: 20px;
  margin-top: 40px;
  color: #706F6F;
  line-height: 40px;
  font-weight: 500;
}

.sub-sec3 {
  padding-top: 200px;
}

.sub-sec3 h4 {
  margin-top: 40px;
  font-size: 24px;
}

.sub-sec3 p {
  margin-top: 30px;
  color: rgba(0, 0, 0, 0.6);
}

.sub-sec3 .more {
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 8px;
  text-align: right;
  float: right;
  margin-top: 40px;
}

.sub-sec3 .more button {
  background-color: transparent;
  color: #fff;
  padding: 10px 30px;
  font-size: 16px;
}

.sub-sec3 .card-ico img {
  width: 40px;
}

.sub-sec3 .card-article-2r {
  display: -ms-grid;
  display: grid;
  /* -ms-grid-columns: (1fr)[2]; */
      grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.sub-sec3 .card-article-2r li {
  background-color: #F3F3F3;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 23px;
  height: 100%;
}

.sub-sec3 .card-article-2r li .card-box {
  padding: 40px;
}

.sub-sec3 .card-article-2r li:nth-child(2) {
  background-color: #6561AA;
  color: #fff;
}

.sub-sec3 .card-article-2r li:nth-child(2) p {
  color: #fff;
}

.sub-sec3 .card-article-2r li:nth-child(even) {
  margin-top: 40px;
}

.sub-sec4 {
  padding-top: 320px;
}

.sub-sec4 .token-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  z-index: 1;
}

.sub-sec4 .token-box .token-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 40px;
}

.sub-sec4 .token-box .token-con p {
  color: #706F6F;
}

.sub-sec4 .token-con-tit div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sub-sec4 .token-con-tit div h2 {
  font-size: 38px;
  font-weight: 500;
  margin-right: 20px;
}

.sub-sec4 .token-con-tit div span {
  background-color: #FFEDED;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 600;
}

.sub-sec4 .token-con-tit p {
  margin-top: 24px;
}

.sub-sec4 .token-con-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sub-sec4 .token-con-btns .token-con-btn {
  border-radius: 8px;
  width: 100%;
  max-width: 200px;
}

.sub-sec4 .token-con-btns .token-con-btn button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  padding: 10px;
  font-size: 16px;
  width: 100%;
}

.sub-sec4 .token-con-btns .token-con-btn:first-child {
  border: 2px solid #000;
}

.sub-sec4 .token-con-btns .token-con-btn:first-child button {
  background-color: #fff;
  border-radius: 8px;
}

.sub-sec4 .token-con-btns .token-con-btn:first-child img:first-child {
  width: 110px;
  margin-left: 10px;
}

.sub-sec4 .token-con-btns .token-con-btn:first-child img:last-child {
  width: 24px;
  height: 24px;
  margin-left: 12px;
}

.sub-sec4 .token-con-btns .token-con-btn:last-child {
  border: 2px solid #6561AA;
  background-color: #6561AA;
  margin-left: 30px;
}

.sub-sec4 .token-con-btns .token-con-btn:last-child button {
  color: #fff;
  text-align: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sub-sec5-img {
  width: 100%;
  margin: -12% auto;
}

.foot-logo .logo {
  text-align: center;
  width: 100%;
  text-align: center;
}

.footer-gnb {
  margin-top: 12%;
}

.anchor-gnb {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 120px;
}

.anchor-gnb ul li {
  margin: 0 8px;
  color: #706F6F;
}

.anchor-gnb ul li img {
  margin-top: 8px;
}

.anchor-gnb ul li.anchor-focus {
  color: #000;
  font-weight: 600;
}

.about-sec1 {
  margin-top: 100px;
}

.about-sec1 .sub-tit-head {
  font-size: 40px;
  font-weight: 600;
}

.about-sec1 .sub-tit {
  font-size: 64px;
  color: #6561AA;
  margin: 32px 0 40px 0;
  line-height: 93px;
}

.about-sec1 .sub-tit-con {
  font-size: 32px;
  font-weight: 600;
}
/*# sourceMappingURL=common.css.map */